td {
    color: black;
    text-align: center;
}

th {
    text-align: center;
}

td.charged {
    font-weight: bolder;
    background-color: lightgreen;
}

td.noncharged {
    font-weight: normal;
    background-color: lightcoral;
}

td.current_element {
    font-weight: bolder;
    background-color: gold;
}

td.neighbour_charged {
    font-weight: bolder;
    background-color: lightgreen;
}

td.neighbour_noncharged {
    font-weight: bolder;
    background-color: lightcoral;
}

td.another_element {
    font-weight: normal;
    background-color: lightgray;
}
